<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Список занять</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list *ngFor="let day of days">
    <ion-item [button]="true" (click)="toggleExpansion(day)" detail="true" detail-icon="chevron-down-outline">
      <ion-label>{{ day.name }}</ion-label>
    </ion-item>
    <ion-list *ngIf="day.expanded">
      <ion-card *ngFor="let lesson of day.lessons" (click)="appComponent.loggedInUser?.role === 'teacher' ? presentActionSheet(day,lesson) : null">
        <ion-card-title>{{ lesson.subject }}</ion-card-title>
        <ion-card-content>
          <ion-text>
            {{Lesson.prettyTime(lesson.startTime) }} - {{ Lesson.prettyTime(lesson.endTime) }}
          </ion-text>
          <br>
          <ion-nav-link *ngIf="lesson.link">{{ lesson.link }}</ion-nav-link>
          <p>{{ lesson.description }}</p>
        </ion-card-content>
      </ion-card>
      <ion-item *ngIf="appComponent.loggedInUser?.role === 'teacher'">
        <ion-button expand="block" (click)="openAddModal(day)">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-item>
    </ion-list>
  </ion-list>
</ion-content>
