<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Вхід
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="container">

    <ion-input label="Ваш email" label-placement="stacked" type="email" [(ngModel)]="data.email"></ion-input>
    <ion-input label="Ваш пароль" label-placement="stacked" type="password" [(ngModel)]="data.password"></ion-input>

    <ion-button (click)="login()">Ввійти</ion-button>

    <br><br>
    <ion-text>
      <b>Не маєте облікового запису? </b>  <a routerLink = "/registration">Реєстрація</a>
    </ion-text>
  </div>

</ion-content>
