<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Щоденник
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>
        <ion-input
          [(ngModel)]="note.date"
          placeholder="YYYY-DD-MM"
          [maskito]="dateMask"
          [maskitoElement]="maskPredicate"
          style="font-weight: lighter; font-size: 0.8rem;"
        ></ion-input>
      </ion-card-subtitle>
      <ion-input [(ngModel)]="note.title" placeholder="Заголовок" style="font-weight: bold; font-size: 1.2rem;"></ion-input>
    </ion-card-header>

    <ion-card-content>
      <ion-textarea rows="20" [autoGrow]="true" [(ngModel)]="note.description" placeholder="Додайте опис"></ion-textarea>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button expand="full" (click)="deleteNote()">Видалити запис</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
