<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Ваші заняття
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container" *ngIf="lastLessonAndDay">

    <ng-container *ngIf="lastLessonAndDay.role === 'next'">
      <p>Найближче заняття:</p>
      <br><br>
      <p>{{ lastLessonAndDay.day.name }}</p>
      <strong>{{ lastLessonAndDay.lesson.subject }}</strong>
      <p>з {{ Lesson.prettyTime(lastLessonAndDay.lesson.startTime)}} по {{ Lesson.prettyTime(lastLessonAndDay.lesson.endTime)}}</p>
      <p *ngIf="lastLessonAndDay.lesson.link"><a href="{{ lastLessonAndDay.lesson.link }}" target="_blank">{{ lastLessonAndDay.lesson.link }}</a></p>

      <br>
      <p>До початку залишилось:</p>

      <p>{{this.prettyTime(lastLessonAndDay)}}</p>

    </ng-container>

    <ng-container *ngIf="lastLessonAndDay.role === 'current'">
      <p>Заняття зараз:</p>
      <br><br>
      <p>{{ lastLessonAndDay.day.name }}</p>
      <strong>{{ lastLessonAndDay.lesson.subject }}</strong>
      <p>з {{ Lesson.prettyTime(lastLessonAndDay.lesson.startTime)}} по {{ Lesson.prettyTime(lastLessonAndDay.lesson.endTime)}}</p>
      <p *ngIf="lastLessonAndDay.lesson.link"><a href="{{ lastLessonAndDay.lesson.link }}" target="_blank">{{ lastLessonAndDay.lesson.link }}</a></p>
      <br>
      <p>До завершення залишилось:</p>
      <p>{{Lesson.prettyTime(lastLessonAndDay.lesson.endTime-Time.hourMinutesToMinutes(this.now.getHours(),this.now.getMinutes()))}}</p>
    </ng-container>


  </div>
  <div class="container" *ngIf="!lastLessonAndDay">
    <p>
      Не призначено ніякі уроки :(
    </p>
  </div>
</ion-content>
