<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ classDetails?.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let lesson of classDetails?.lessons" (click)="editLesson(lesson)">
    <ion-card-header>
      <ion-card-title>Урок {{lesson.id}} - {{ lesson.title }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>

    </ion-card-content>
  </ion-card>


</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" (click)="addLesson()">Додати заняття</ion-button>
  </ion-toolbar>
</ion-footer>
