<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Класи
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon (click)="openClassSearch()" size="large" name="add-outline"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding *ngFor="let cls of allClasses">
      <ion-item (click)="viewClassStudents(cls)">
        <ion-icon slot="start" [style.color]="getColor(cls.name)" name="school"></ion-icon>
        <ion-label>{{ cls.name }} - {{ cls.subject }}</ion-label>
        <ion-icon (click)="leaveClass(cls)" slot="end" name="trash-bin-outline"></ion-icon>
      </ion-item>



    </ion-item-sliding>
  </ion-list>
</ion-content>
