<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-icon name="document-text-outline"></ion-icon>
      Моє домашнє
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title *ngIf="classDetails">
      <ion-icon name="school-outline"></ion-icon>
      {{ classDetails.name }} - {{ classDetails.subject }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item *ngFor="let homework of classDetails?.homeworks" (click)="openNoteDetail(homework)">
      <ion-icon slot="start" name="clipboard-outline"></ion-icon>
      <ion-label>{{ homework.title }}</ion-label>
      <br>
      <ion-note slot="end">{{ homework.publishDate }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
