<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ classDetails?.name }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="addNote()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let homework of classDetails?.homeworks" (click)="openNoteDetail(homework)" class="homework-item">
      <ion-icon slot="start" [style.color]="getColor(homework)" name="document-attach-outline"></ion-icon>

      <ion-label>{{ homework.title }}</ion-label>
      <ion-label class="deadline-label">Дедлайн: {{ formatDeadline(homework.deadline) }}</ion-label>
      <ion-note slot="end" class="publish-date">{{ homework.publishDate }}</ion-note>
    </ion-item>
  </ion-list>
</ion-content>
